/*Images*/
.star-streaks {
  width: 100px;
  height:100px;
}

.center img {
  position:absolute;
  top:50%;
  right:50%;
    margin: -50px 0 0 -50px;

}

.top-bottom> .tl {
  position: relative;
  float:left;
}
.top-bottom> .tr {
  position: relative;
  float:right;
}
.top-bottom> .br {
  position: fixed;
  bottom:0;
  right:0;
}

.top-bottom> .bl {
  position: fixed;
  bottom:0;
  left:0;
}

.bg-template {
    background: url('http://rxsharp.github.io/css3-essentials/images/star.gif') no-repeat;
  background-size:cover;
  width:100%;
}

.auto-star{
background-size:auto;
background-image: url('http://rxsharp.github.io/css3-essentials/images/star.gif');
      background-repeat:no-repeat;
}

/* Layout */
.top-bottom {
  height: 20%;
}

.center {
background: url('http://rxsharp.github.io/css3-essentials/images/universe-banner.jpg') no-repeat top left;
background-size: cover;
height: 60%;
position:relative;
}

 /*Defaults*/
html,body {
    height: 100%;
    margin:0;
}

body {
  background: url('http://rxsharp.github.io/css3-essentials/images/dark-bg.jpg') center no-repeat;
  background-size:100% 100%;
}

.star {
  width:68px;
  height: 64px;
}